<%= render 'layouts/content_header', content_header: header, path: nil %>
<div class="content">
  <%= form_with(model: [:admin, @location], url: path, method: method, class: 'form') do |f| %>
    <div class="card mx-3 p-3">
      <div class="card-body">
        <div>
          <h4>Location Detail</h4>
          <hr>
          <div class="row">
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :name %><span class="text-danger">*</span>
              <%= f.text_field :name, placeholder: 'Enter name', class: 'form-control', required: true %>
              <span class="text-danger"><%= @location.errors.full_messages_for(:name).join(', ') if @location.present? %></span>
            </div>
          </div>
          <div class="col-sm-7 mb-3 form-group">
            <div class="text-right mt-3">
              <%= f.submit( 'Save', class: 'btn btn-theme') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
