<div>

  <div class="container pt-4   ">
    <div class="position-relative d-flex overflow-x-auto">
      <% @hotel.images.each do |image| %>
        <%= image_tag image, class: "m-1 rounded", style: "width: 250px; height: 200px; object-fit: 'contain'" %>
      <% end %>
    </div>
  </div>
  <hr>

  <div class="container mt-5 pb-5  ">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link <%= active_tab('overview') %>" href="/hotel/<%= @hotel.slug %>?tab=overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= active_tab('menu') %>" href="/hotel/<%= @hotel.slug %>?tab=menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= active_tab('review') %>" href="/hotel/<%= @hotel.slug %>?tab=review">Reviews</a>
      </li>
    </ul>

    <div class="row <%= show_content('overview') %> my-4">
      <ul class="list-group">
        <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-phone"></i></span><a class="text-decoration-none text-dark" href="tel:?<%= @hotel.phone %>"><%= @hotel.phone %> </a></li>
        <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-location-dot"></i></span><a class="text-decoration-none text-dark" href="http://maps.google.com/?q=<%= @hotel.address %>"><%= @hotel.address %></a></li>
        <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-lock-open"></i></span><%= l @hotel.open_at, format: :time %></li>
        <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-lock"></i></span><%= l @hotel.close_at, format: :time %></li>
        <% if  @hotel.dine_in %>
          <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-utensils"></i></span>Dine In</li>
        <% end %>
        <% if  @hotel.take_away %>
          <li class="list-group-item py-4"><span class='me-4'><i class="fa-solid fa-house"></i></span>Take Away</li>
        <% end %>
      </ul>
    </div>

    <div class="row <%= show_content('menu') %> my-4">
      <% @hotel.menus.each do |image| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <%= image_tag image, class: "m-1 rounded", style: "width: 100%; height: 100%; object-fit: 'contain'" %>
        </div>
      <% end %>
    </div>

    <div class="<%= show_content('review') %> my-4">
      <h1 class='text-center mb-2 d-flex justify-content-center flex-column'>
        <%= hotel_rating(@hotel.id) %>
        <div class="d-flex justify-content-center">
          <% hotel_rating(@hotel.id).to_i.times do  %>
            <span>&#9733;</span>
          <% end %>
          <% (5 - hotel_rating(@hotel.id).to_i).times do %>
            <span>&#9734;</span>
          <% end %>
        </div>
      </h1>
      <div class="hotel--editor w-25">
        <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @hotel } %>
      </div>
      <div class="hotel--comments">
        <%= turbo_stream_from @hotel, :comments %>
        <%= tag.div id: "#{dom_id(@hotel)}_comments" do %>
          <%= render partial: "comments/comment_with_replies", collection: @parent_comments, as: :comment, locals: { user: current_user } %>
        <% end %>
      </div>

      <div class="comment--wrapper-mobile">
        <div class="textarea--wrapper form-group comment-input--container">
          <div class="comment--menu">
            <% if user_signed_in? %>
              <%= simple_form_for([@hotel, Comment.new]) do |f| %>
                <%= f.rich_text_area :content, placeholder: "Add Comment", class: "form-control" %>
                <%= f.button :button, "Comment", class: "comment--button" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>