<div>
  <section style="background-color: white;">
    <div class="container py-5">
      <div>
        <h4 class="text-center mt-4 mb-5"><strong>Nearby</strong></h4>
        <div class="row">
          <% if @nearby_hotels.count > 0 %>
            <% @nearby_hotels.each do |hotel| %>
              <div class="col-lg-4 col-md-12 mb-4">
                <%= link_to hotel_path(hotel), class: 'text-decoration-none' do %>
                  <div class="card hotel-detail-card">
                    <div class="position-relative d-flex overflow-x-auto">
                      <% if hotel.images.attached? %>
                        <% hotel.images.each do |image| %>
                          <%= image_tag image, class: "m-1 rounded", style: "width: 250px; height: 200px; object-fit: 'contain'" %>
                        <% end %>
                      <% else %>
                        <%= image_tag "omwm-listing.webp", class: "m-1 rounded", style: "width: 250px; height: 200px; object-fit: 'contain'" %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= hotel.name %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                      <%= 4.4 %><span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                      </h6>
                      <p class="card-text">
                        <%= hotel.address %>
                      </p>
                    </div>
                  </div>
                  <% end %>
                </div>
            <% end %>
          <% else %>
            <p class='fw-bold fs-4 text-center text-theme fst-italic'>Change location to see result!</p>
          <% end %>
        </div>
      <div>
      <div>
        <h4 class="text-center mt-4 mb-5"><strong>Recommended</strong></h4>
        <div class="row">
          <% if @hotels.count > 0 %>
            <% @hotels.each do |hotel| %>
              <div class="col-lg-4 col-md-12 mb-4">
                <%= link_to hotel_path(hotel), class: 'text-decoration-none' do %>
                  <div class="card hotel-detail-card">
                    <div class="position-relative d-flex overflow-x-auto">
                      <% if hotel.images.attached? %>
                        <% hotel.images.each do |image| %>
                          <%= image_tag image, class: "m-1 rounded", style: "width: 250px; height: 200px; object-fit: 'contain'" %>
                        <% end %>
                      <% else %>
                        <%= image_tag "omwm-listing.webp", class: "m-1 rounded", style: "width: 250px; height: 200px; object-fit: 'contain'" %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= hotel.name %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <%= 2.4 %><span>&#9733; &#9733; &#9734; &#9734; &#9734;</span>
                      </h6>
                      <p class="card-text">
                        <%= hotel.address %>
                      </p>
                    </div>
                  </div>
                  <% end %>
                </div>
            <% end %>
          <% end %>
        </div>
      <div>
    </div>
  </section>
</div>
<% unless @location %>
  <%= button_to "",  get_location_path, class: 'd-none', method: :get, form: { data: { controller: 'show-modal', turbo_frame: "remote_modal" } } %>
<% end %>