<%= render 'layouts/content_header', content_header: header, path: nil %>
<div class="content">
  <%= form_with(model: [:admin, @hotel], url: path, method: method, class: 'form') do |f| %>
    <div class="card mx-3 p-3">
      <div class="card-body">
        <div>
          <h4>Restaurent Detail</h4>
          <hr>
          <div class="row" data-controller="preview-image">
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :name %><span class="text-danger">*</span>
              <%= f.text_field :name, placeholder: 'Enter name', class: 'form-control', required: true %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:name).join(', ') if @hotel.present? %></span>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :address %>
              <%= f.text_field :address, placeholder: 'Enter address', class: 'form-control', required: true %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:address).join(', ') if @hotel.present? %></span>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :phone %><span class="text-danger">*</span>
              <%= f.text_field :phone, placeholder: 'Enter phone', class: 'form-control' %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:phone).join(', ') if @hotel.present? %></span>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :latitude %>
              <%= f.text_field :latitude, placeholder: 'Enter Latitude', class: 'form-control' %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:latitude).join(', ') if @hotel.present? %></span>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :longitude %>
              <%= f.text_field :longitude, placeholder: 'Enter Longitude', class: 'form-control' %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:longitude).join(', ') if @hotel.present? %></span>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label 'Restaurent Time' %>
              <div class='d-flex align-items-center'>
                <%= f.time_field :open_at, placeholder: 'Select Open Time', class: 'form-control' %>
                <span class='mx-1'>to</span>
                <%= f.time_field :close_at, placeholder: 'Select Close Time', class: 'form-control' %>
              </div>
            </div>
            <div class="col-sm-7 mb-3 form-group">
              <%= f.label :images %>
              <%= f.file_field :images, multiple: true, class: 'form-control', accept: 'image/*', data: { preview_image_target: 'slider', action: 'change->preview-image#displaySliderPreview' } %>
              <span class="text-danger"><%= @hotel.errors.full_messages_for(:longitude).join(', ') if @hotel.present? %></span>
            </div>
            <%= render 'layouts/shared/image_form', documents: hotel.images %>
          </div>
          <div class="col-sm-7 mb-3 form-group">
            <div class="text-right mt-3">
              <%= f.submit( 'Save', class: 'btn btn-theme') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
