<div class="login-wrapper">
  <div class="bg-white container rounded p-3 pb-5 shadow text-center mx-4">
    <%= image_tag 'restaurent.png', class: "w-75" %>
    <div class="py-3"></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-3 form-signin', id: 'login-form'}) do |f| %>
      <div class="my-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email address", required: true %>
      </div>
      <div class="mb-3">
        <div class="d-flex toggle-password" data-controller="password-toggle">
          <span class="w-100">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true, data: { password_toggle_target: 'password'} %>
          </span>
          <span data-action="click->password-toggle#toggle" class='btn' title='Show password'>
            <%= render 'layouts/shared/password_icons' %>
          </span>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me, value: "remember-me", class: 'form-check-input', id: 'remember-me' %>
          <%#= f.label :remember_me, class: 'form-check-label', for: 'remember-me' %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= f.submit "Log in", class: "btn-theme" %>
      </div>
    <% end %>
  </div>
</div>
