<%= render 'layouts/content_header', content_header: 'Users', path: new_admin_user_path %>
<div class="content">
  <div class="m-3">
    <div class="row text-center">
      <div class="col-sm-9 col-lg-12">
        <div class="table-responsive elevation-1">
          <table class="table mb-0">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <%if @users.size !=0 %>
                <% @users&.each do |user| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name.titleize %></td>
                    <td><%= user.email %></td>
                    <td><%= user.type %></td>
                    <td class="d-flex align-items-center justify-content-center">
                      <%= link_to edit_admin_user_path(user), class: 'mx-2 btn btn-sm btn-secondary text-white' do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <% unless current_user.id === user.id%>
                        <%= button_to admin_user_path(user), method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete?' } }, class: 'mx-2 btn btn-sm btn-danger' do %>
                          <i class="fa-solid fa-trash"></i>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="6" class="text-center text-secondary py-5">No Records Found</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
