<!DOCTYPE html>
<html>
  <head>
    <title>Restaurent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <div id="flash" class="position-absolute" style="z-index: 1040;right: 10px; top: 10px;">
      <%= render 'layouts/notice' %>
    </div>
    <div class="wrapper">
      <%= render 'layouts/sidebar' if user_signed_in? %>

      <div class="<%= 'content-wrapper' if user_signed_in? %>">
        <%= render 'layouts/header', user: current_user if user_signed_in? %>
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
